<div class="register-Container p-fluid">
    <div class="background-color">
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="m-5">
            <div class="field">
                <label for="oldPassword">Ancient mot de passe</label>
                <input id="oldPassword" type="password" autocomplete="oldPassword" pInputText
                    formControlName="oldPassword" />
            </div>
            <div class="field">
                <label for="Password">Nouveau mot de passe</label>
                <input id="Password" type="password" autocomplete="Password" pInputText formControlName="Password" />
            </div>
            <div class="field">
                <label for="confirmPassword">Confirmée le mot de passe</label>
                <input id="confirmPassword" type="password" autocomplete="confirmPassword" pInputText
                    formControlName="confirmPassword" />
            </div>
            <div class="field mt-6">
                <div class="flex flex-row gap-1 justify-content-end">
                    <div class="w-12rem"></div>
                    <button label="Envoyer" pButton size="small" type="Submit" class="button-new"
                        [disabled]="passwordResetForm.invalid"></button>
                    <div class="w-12rem"></div>
                </div>
            </div>
        </form>
    </div>
</div>