<h3>Sécurité</h3>
<div class="background-color flex flex-column gap-2">
        <div class="w-full p-5 border-bottom">
            <div class="flex flex-row gap-1">
                <div class="w-12rem">
                    <label class="color-text mb-2">Mot de passe</label> 
                </div>
                <div class="flex-grow-1">
                    <a href="Pages/Profil/PasswordReset" class="color-text-link">Changer votre mot de passe</a>
                </div>
            </div>
        </div>
        <!-- <div class="w-full p-5">
            <div class="flex flex-row gap-1">
                <div class="w-12rem">
                    <label class="color-text mb-2">Mot de passe</label> 
                </div>
                <div class="flex-grow-1">
                    <a href="#" class="color-text-link">Changer votre mot de passe</a>
                </div>
            </div>
        </div> -->
</div>