.color-text {
    color: #9ab;
}

.color-text-link {
    color: #d3a902;
}

.background-color{
    width: 75rem;
    background-color: #18181b;
    border: 1px solid rgba(83, 83, 95, 0.48);
    border-radius: 0.4rem;
}

.border-bottom{
    border-bottom: 1px solid rgba(83, 83, 95, 0.48);
}