<p-dataView
  [value]="products"
  layout="list"
  class="dataView"
  [rows]="20"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onLazyLoad)="next($event)"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <div class="flex justify-content-between">
      <div class="flex flex-column md:flex-row height-a">
        <a [class]="'font-bold mr-4 p-text-color '+ (sortField == 'rate' ? 'active' : '')" (click)="onClickSort('rate')">Notes</a>
        <a [class]="'font-bold mr-4 p-text-color '+ (sortField == 'likes' ? 'active' : '')" (click)="onClickSort('likes')">Like</a>
        <a [class]="'font-bold mr-4 p-text-color '+ (sortField == 'createdAt' ? 'active' : '')" (click)="onClickSort('createdAt')" >Récent</a>
      </div>
      <div>
        <p-dropdown
          [options]="sortOptions"
          placeholder="Classer par"
          (onChange)="onSortChange($event)"
          styleClass="mb-2 md:mb-0 mr-2"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="list" let-products>
    <div *ngFor="let item of products; let first = first; let index = index">
      <p-panel styleClass="border-style">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar
              [image]="
                item.pictureUrl == ''
                  ? 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
                  : item.pictureUrl
              "
              size="large"
              shape="circle"
            />
            <span class="font-bold">
              <a routerLink="profile/{{ item.idUser }}"> </a>
              {{ item.nickName }}
            </span>
            <div>
              <i
                class="pi pi-star-fill padding-stars"
                *ngFor="let star of counterArray(item.rate)"
              ></i>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div
            class="flex flex-wrap align-items-center justify-content-between gap-3"
          >
            <div class="flex align-items-center">
              <p-button
                icon="pi {{ item.liked ? 'pi-heart-fill' : 'pi-heart' }}"
                rounded="true"
                text="true"
                styleClass="button-size"
                (onClick)="LikeDislike(item.id, index)"
              />
              <a>{{ item.likes }}</a>
            </div>
            <span class="p-text-secondary">
              {{ item.createdAt | dateTime }}
            </span>
          </div>
        </ng-template>

        <p class="m-0">
          {{ item.comment }}
        </p>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
