.profile-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.section {
  flex: 1 1 48%;
  max-width: 48%;
  min-width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  // border: 1px solid #ddd;
  // border-radius: 8px;
  // background-color: #f9f9f9;
   background-color: #18181b;
    border: 1px solid rgba(83, 83, 95, 0.48);
    border-radius: 0.4rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  margin: 0;
  font-size: 18px;
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #9ab;
}

::ng-deep .pi{
  font-size: 20px;
}

.edit-button:hover {
  color: #e4b90e;
}

.group-field {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.field {
  flex: 1;
  min-width: 200px;
}

::ng-deep .field input:disabled,
::ng-deep .field .p-calendar:disabled,
::ng-deep .field .p-disabled {
  background-color: #000000 !important;
  color: #9ab;
}

::ng-deep .field input,
::ng-deep .field .p-calendar,
::ng-deep .field .p-dropdown{
  background-color: #18181b;
  color: #9ab;
  border: 1px solid rgba(83, 83, 95, 0.48);
  border-radius: 0.4rem;
}

::ng-deep .p-dropdown .p-dropdown-label {
  background-color: #18181b !important;
  color: #9ab !important;
}

::ng-deep .p-disabled .p-dropdown-label{
  background-color: #000000 !important;
  color: #9ab !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-header {
  background-color: #18181b !important;
  border-bottom: 1px solid #18181b;
  color: #9ab !important;
}

::ng-deep .p-dropdown-panel {
  background: #18181b !important;
  color: #9ab !important;
}

::ng-deep .p-dropdown-item {
  background-color: #18181b !important;
  color: #9ab !important;
}

.section-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-button {
  background-color: #218838;
  color: #fff;
  border: 1px solid #218838;
  padding: 10px 20px;
  border-radius: 6px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #19662a;
}

.cancel-button {
  background-color: #c82333;
  color: #fff;
  border: 1px solid #c82333;
  padding: 10px 20px;
  border-radius: 6px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #941724;
}

@media (max-width: 850px) {
  .sections-wrapper {
    flex-direction: column;
  }

  .section {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .profile-container {
    max-width: 800px;
  }

  .edit-button{
    font-size: 18px;
  }

  ::ng-deep .pi{
    font-size: 18px;
  }
}