::ng-deep .p-menubar {
  background-color: #0d1117;
  border-color: #0d1117;
  border-radius: 0;
  padding: 0.6rem;
}

::ng-deep .p-menuitem .p-menuitem-text,
::ng-deep .p-menuitem .p-menuitem-icon{
    color:#9ab;
    font-size: 18px;
}

::ng-deep .p-menuitem:hover .p-menuitem-text,
::ng-deep .p-menuitem:hover .p-menuitem-icon {
  color: #d3a902;
}

::ng-deep .p-menuitem-content{
    background: none;
}

.signIn {
  margin-left: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.title {
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.title h1{
    color: #fff;
}

.title:visited {
  color: inherit;
  text-decoration: none;
}

.logo {
  border-radius: 50%;
  margin-right: 5px;
  width: 50px;
}

.button-new {
  background: var(--boutton-color-y);
  border-color: var(--boutton-color-y);
  border-color: #d3a902;
    border-width: 3px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0 rgba(211, 169, 2, 0);
}

.button-new:hover {
  background: var(--boutton-color-y-hover);
  border-color: var(--boutton-color-y-hover);
}

.button-new:active {
  transform: scale(0.98);
}
.button-new-outline {
  background: transparent;
  color: #d3a902;
  border-color: #d3a902;
    border-width: 3px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0 rgba(211, 169, 2, 0);
  
    ::ng-deep .p-button-icon {
      font-size: 1.2rem;
    }
}

.button-new-outline:hover {
// background: rgba(211, 169, 2, 0.1);
  color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: 0 0 0 2px rgba(211, 169, 2, 0.15);
}
  
.button-new-outline:active {
  transform: scale(0.98);
}

::ng-deep .pi-plus {
  margin-right: 5px;
}

.nickname {
  color: #9ab;
}

::ng-deep .p-menu {
  background: #2a323d;
  border: none;

  .p-menuitem-link {
    color: #fff;

    .p-menuitem-icon {
      color: #fff;
    }

    .p-menuitem-text {
      color: #fff;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .p-menuitem:last-child {
    .p-menuitem-link:hover {
      background: #dc3545;
    }
  }
}