<p-menubar
  [autoHide]="true"
  [autoHideDelay]="0"
  [model]="items"
>
  <ng-template pTemplate="start">
    <a class="title logo-container" routerLink="Home">
      <img class="logo" src="assets/logo.jpg" alt="logo" />
      <h1>PintPoint</h1>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      @if(!this.connected){
      <button pButton class="button-new" size="small" (click)="ShowLog()">
        Connexion
      </button>
      <button
        class="signIn"
        pButton
        class="button-new-outline"
        [outlined]="true"
        size="small"
        routerLink="Pages/Auth/Register"
      >
        S'enregistrer
      </button>
      } @else {
      <button
        icon="pi pi-user"
        pButton
        [rounded]="true"
        class="button-new-outline"
        [outlined]="true"
        (click)="logout()"
      ></button>
      }
    </div>
  </ng-template>
</p-menubar>

@if(showLogin){
    <app-sign-in/>
}
