.content {
  margin: 0 5px 5px 5px;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer{
  padding: 16px 0; //+16 per line
  background-color: rgb(30, 38, 47);
}

