<div class="p-4">
  <div class="p-card">
    <div class="p-card-header">
      <h1 class="pt-2 ml-3 mb-0">Conditions d'utilisation</h1>
    </div>
    <div class="p-card-body ml-3">
      <div class="mb-4">
        <h2>Collecte de Données</h2>
        <p>
          Nous recueillons toutes les informations que vous saisissez dans notre application, que ce
          soit lors de la création de votre compte ou de la modification de votre profil. Cela peut
          inclure des éléments tels que votre adresse e-mail, pseudonyme, adresse de résidence,
          numéro de téléphone, photo de profil et les réseaux sociaux que vous associez à votre compte.
          En outre, nous collectons des données concernant les activités liées à la bière mises
          en ligne par les utilisateurs.
        </p>
      </div>
      <div class="mb-4">
        <h2>Droits des Utilisateurs</h2>
        <ul>
          <li>Reclamer l'accès à ses données personnelles.</li>
          <li>Reclamer l'effacement de ses données personnelles.</li>
          <li>S'opposer au traitement de ses données personnelles.</li>
          <li>Reclamer la rectification de ses données personnelles.</li>
          <li>Reclamer la limitation du traitement de ses données personnelles.</li>
          <li>Reclamer la portabilité de ses données personnelles.</li>
          <li>Retirer son consentement.</li>
        </ul>
        <p>
          Pour exercer l'un de ces droits ou pour obtenir davantage d'informations, vous pouvez
          nous contacter à l'adresse e-mail suivante : <a href="mailto:pintpoint@gmail.com">pintpoint&#64;gmail.com</a>.
        </p>
      </div>
      <div>
        <h2>Durée de Conservation des Données</h2>
        <p>
          Vos données sont conservées de manière sécurisée et confidentielle dans nos bases de
          données, sans limite de durée. En cas de suppression de votre compte sur nos plateformes,
          les données inutiles seront effacées, tandis que les données nécessaires au fonctionnement
          de l'application seront anonymisées. En cas de fuite de données, nous vous
          tiendrons informé conformément à nos obligations légales.
        </p>
      </div>
    </div>
  </div>
</div>