/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    height: 100vh;
    background-color: #2a323d; //#0d1117 #2c3440
    font-family: var(--font-family);
    color: #9ab;
}

:root {
    --boutton-color-y: #d3a902;
    --boutton-color-y-hover: #e4b90e;
    --background-color-pp: #2a323d;
}